@model JobSearch.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Редактирование профиля";
}

<form asp-action="Edit" enctype="multipart/form-data" id="formData">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" value="@Model.Id">
    <div class="mb-3">
        <label asp-for="UserName" class="form-label">Имя пользователя</label>
        <input asp-for="UserName" type="text" class="form-control" placeholder="Логин">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Почта</label>
        <input asp-for="Email" type="email" class="form-control" placeholder="Эл. адрес">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">Номер телефона</label>
        <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Номер телефона">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Avatar" class="form-label">Фото профиля</label>
        <input asp-for="Avatar" type="file" class="form-control" accept="image/*">
        <span asp-validation-for="Avatar" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input type="submit" class="form-control btn btn-success" value="Подтвердить обновление">
    </div>
</form>